
    
 

 body {
    font-family: Arial, sans-serif;
    background-color: #161616;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}

.profile-card {
    background-color: #272626;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    height: auto;
    max-width: 400px;
    
}
.sobre{
    color: #ade922;
}

.profile-card img {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin: 20px;
}

.profile-card h2 {
    margin: 10px 0;
}

.profile-card p {
    margin: 20px 0;
}

.social-links {
    display: flex;
    justify-content: center;
    font-size: 20px;
    gap: 13px; 
    flex-direction: column;
    transition: 0.5s all ease-in-out;
    color: #333;
 
}

.social-links a {
    display: inline-block;
    padding: 15px 20px;
    border: 1px solid #3a3a3a; 
    border-radius: 8px; 
    text-decoration: none; 
    color: #b9b8b8;
    background-color: #3b3a3a;
    transition: 0.3s, color 0.3s; 
}

.social-links a:hover {
    background-color: #ade922; 
    color: #413e3e;

}
.attribution {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0; 
}